{{ ansible_managed | comment(decoration='# ') }}
{% set path_domain = "/var/www/users/"+site.user+"/"+site.name %}
{% set path_tmp = "/var/www/users/"+site.user+"/tmp/"+site.name %}
<VirtualHost *:80>
    ServerAdmin {{ site.admin | default(site.user+"@"+site.name) }}
    ServerName {{ site.name | mandatory }}
    {% if site.alias is defined %}
    ServerAlias {{ [site.alias] | flatten | join(' ') }}
    {% endif %}
    {% if site.root_offset is defined %}
    DocumentRoot {{ path_domain }}/{{ site.root_offset }}
    {% else %}
    DocumentRoot {{ path_domain }}
    {% endif %}
    ErrorLog {{ path_tmp }}/error.log
    CustomLog {{ path_tmp }}/access.log combined
    <Directory {{ path_domain }}>
        Require all granted
        AllowOverride All
        {% if site.php is defined %}
        <FilesMatch .+.php$>
            SetHandler proxy:unix:/var/php/{{ site.name }}.sock|fcgi://localhost/
        </FilesMatch>
        {% endif %}
        {% if site.charset is defined %}
        AddDefaultCharset {{ site.charset }}
        {% endif %}
    </Directory>
    {% if site.custom_config is defined %}
    {% include site.custom_config %}
    {% endif %}
</VirtualHost>

{# Note: Contemplate if TLS is needed #}
